* {
    font-family: "Epilogue", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: hsl(0, 0%, 8%);
}


img {
    max-width: 100%;
}


/*navigation*/
nav {
    height: 80px;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding-inline: 3rem;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    margin-left: 1600px;
    position: fixed;
}

.nav-links {
    display: flex;
    margin-left: 4rem;
    list-style: none;
    gap: 2.5rem;
}

.nav-links li {
    cursor: pointer;
    color: hsl(0, 0%, 41%);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    user-select: none;
}

.nav-links li:hover {
    color: hsl(0, 0%, 8%);
}

.mobile-menu-btn {
    display: none;
}

.mobile-menu {
    display: none;
}

.sub-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: hsl(0, 0%, 98%);
    ;
    gap: 1rem;
    box-shadow: 0px 0px 10px 3px hsl(0, 0%, 90%);
    padding: 1rem;
    border-radius: 10px;
}

.one {
    bottom: -170px;
    right: 0;
}

.two {
    bottom: -136px;
}

.sub-menu .sub-link {
    display: flex;
    align-items: center;
    width: 150px;
    gap: 0.5rem;
}

.active .arrow {
    transform: rotate(180deg);
}

.active-menu {
    display: flex !important;
}





/*buttons*/
.login,
.register {
    padding: 1rem 2rem;
    border-radius: 15px;
    color: hsl(0, 0%, 41%);
    cursor: pointer;
    background-color: transparent;
}

.login {
    border: none;
}

.login:hover {
    color: hsl(0, 0%, 8%);
    font-weight: 700;
}

.register {
    border: 1px solid hsl(0, 0%, 8%);
}

.register:hover {
    color: hsl(0, 0%, 8%);
    font-weight: 700;
}

.learn-more {
    background-color: hsl(0, 0%, 8%);
    width: fit-content;
    padding: 1rem 2rem;
    color: hsl(0, 0%, 98%);
    border-radius: 10px;
    cursor: pointer;
}

.learn-more:hover {
    background-color: hsl(0, 0%, 98%);
    border: 1px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
    font-weight: 700;
}

/*content*/


section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
}


.content-container {
    display: grid;
    max-width: 1100px;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
}


.content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


h1 {
    font-size: 4rem;
    font-weight: 700;
}


.main-content {
    font-size: 18px;
    line-height: 1.8;
    color: hsl(0, 0%, 41%);
    padding: 0 10px;
}


.logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}











@media screen and (max-width: 800px) {
    .mobile-menu-btn {
        display: flex;
        cursor: pointer;
        z-index: 1;
    }


    .mobile-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 70%;
        background-color: hsl(0, 0%, 98%);
        ;
        padding: 5rem 2rem;
    }


    .mobile-links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
    }


    li {
        display: flex;
        color: hsl(0, 0%, 41%);
        flex-direction: column;
        cursor: pointer;
    }


    a {
        display: flex;
        align-items: center;
        gap: 1rem;
    }


    .mobile-sub {
        display: none;
        flex-direction: column;
        gap: 1rem;
        margin: 1rem;
    }


    .overflow {
        background-color: hsl(0, 0%, 8%);
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 30%;
        opacity: 0.5;
    }


    .nav-links,
    .nav-right {
        display: none;
    }


    img {
        max-width: 500px;
        height: auto;
    }


    section {
        align-items: flex-start;
    }


    .content-container {
        display: flex;
        flex-direction: column-reverse;
    }


    .content-left {
        align-items: center;
        text-align: center;
        gap: 2rem;
    }


    h1 {
        font-size: 3rem;
    }


    .logos {
        width: 100%;
        padding-inline: 1rem;
        flex-wrap: wrap;
    }


}