* {
    font-family: "Epilogue", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: hsl(0, 0%, 8%);
}


img {
    max-width: 100%;
}


/*navigation*/
nav {
    height: 80px;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding-inline: 3rem;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    margin-left: 1600px;
    position: fixed;
}

.nav-links {
    display: flex;
    margin-left: 4rem;
    list-style: none;
    gap: 2.5rem;
}

.nav-links li {
    cursor: pointer;
    color: hsl(0, 0%, 41%);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    user-select: none;
}

.nav-links li:hover {
    color: hsl(0, 0%, 8%);
}

.mobile-menu-btn {
    display: none;
}

.mobile-menu {
    display: none;
}

.sub-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: hsl(0, 0%, 98%);
    ;
    gap: 1rem;
    box-shadow: 0px 0px 10px 3px hsl(0, 0%, 90%);
    padding: 1rem;
    border-radius: 10px;
}

.one {
    bottom: -170px;
    right: 0;
}

.two {
    bottom: -136px;
}

.sub-menu .sub-link {
    display: flex;
    align-items: center;
    width: 150px;
    gap: 0.5rem;
}

.active .arrow {
    transform: rotate(180deg);
}

.active-menu {
    display: flex !important;
}